<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IT company</title>
    <link rel="stylesheet" type="text/css" href="/resources/style3.css">
</head>
<body>
<script type="text/javascript"></script>

<div class="header" style="text-align: center;"><h1>Программная компания Sh&Sh</h1></div>
<div id="right-column">
    <a name="1"></a>
    <div style="text-align: center;"><h2>Главная страница</h2></div>
    IT компания "Sh&Sh", это лидер на рынке технологий. У нас работают самые квалифицированные специалисты всех областей
    программирования. Вы можете заказать сайт, или десктопное приложение,
    или игру и мы выполним ваш заказ быстро и качественно. У нас есть ограмная клиентская база, и наши клиенты нам
    благодарны.
</div>
<div id="left-column">
    <h3>Навигация</h3>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/project/add">Ввести новый проэкт</a></li>
        <li><a href="/developer/add">Добавить разработчика</a></li>
        <li><a href="/task/add">Создать задачу</a></li>
        <li><a href="/search">Поиск программиста</a></li>
        <li><a href="/project">Активные проекты</a></li>
        <li><a href="/report">Отчеты</a></li>
    </ul>
</div>
<div class="footer"><b>Спасибо что выбрали нашу компанию!</b></div>
</body>
</html>